@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
}

header {
	position: absolute;
  height: auto;
	width: 100%;
	padding: 80px 0px 0px 180px ;
}
header img {
	width: 150px;
}
.container{
  display: flex;
  min-height:100vh;
  width: 100%;
  background: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

.left{
  flex:60%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px 100px;
  background-image: url("images/bg-pattern-desktop.svg");
  background-size: cover;
}

.right{
  flex:40%;
  background-image: url("images/hero-desktop.jpg");
  background-size: cover;
}



.left .info h1{
  font-weight: 300;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 25px;
  padding-bottom: 20px;
}
.left .info span{
  color: hsl(0, 36%, 70%)
}

.left .info .article{
  color: hsl(0, 36%, 70%);
  letter-spacing: 1px;
  line-height: 1.6;
  padding-bottom: 20px;
}

.container form{
  position: relative;
  height: 35px;
  width: 200px;
  z-index: 1;
}

.container form input{
  position: absolute;
  height: 35px;
  width: 400px;
  border-radius: 30px;
  border: 1px solid hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
  padding-left: 25px;
}
::placeholder{
  color:hsl(0, 36%, 70%);
  opacity: .33;
}
.container form button{
  position: absolute;
  width: 70px;
  height: 35px;
  border-radius: 30px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
	outline: none;
  margin-left: 330px;
  cursor:pointer;
}

form.error input {
    border: 2px solid;
    border-color: hsl(0, 93%, 68%);
}

form.error .error-icon{
  display: inline-block;
}
.error-icon{
  display: none;
  position: absolute;
  left:300px;
  top:5px;
}
form.error .error-text{
  display: inline-block;
}
.error-text{
  font-size: 13px;
  padding-top: 40px;
  padding-left: 15px;
  color: Red;
  display: none;
}
